# IntelliJ
backend/java-backend/.idea/workspace.xml
backend/java-backend/.idea/tasks.xml
backend/java-backend/*.isw

# Maven
backend/java-backend/target/**
backend/java-backend/log/**

# Sublime Text
*.sublime-workspace

# Misc
.*~